<!DOCTYPE html>
<html lang="en">

<head>
    <title>gemjob</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height,width=device-width,user-scalable=no">

    <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript src="{{ url_for('static', filename='admin_script.js') }}"></script>

</head>

<body>
    <div class="Header">
        <div class="AppTitle">
            <a href="/"><img src="{{ url_for('static', filename='gemjob_logo_web.jpg') }}" /></a>
        </div>
        <div class="HeaderRight">
            Admin
        </div>
    </div>

    <div class="Section HighlightedSection TableSection">
        <div class="Text">
            <h1>Admin</h1>
        </div>
        <div class="HighlightedSectionDark"><div class="Text">
            <p><span class="TableStyle">Web Server:</span> <span id="WS" class="OK TableStyle">online</span></p>
        </div></div>
        <div class="Text">
            <p><span class="TableStyle">Data Module:</span> <span id="D" class="TableStyle">checking ...</span></p>
        </div>
        <div class="HighlightedSectionDark"><div class="Text">
            <p><span class="TableStyle">Cluster Module:</span> <span id="CL" class="TableStyle">checking ...</span></p>
        </div></div>
        <div class="Text">
            <p><span class="TableStyle">Budget Model:</span> <span id="BU" class="TableStyle">checking ...</span></p>
        </div>
        <div class="HighlightedSectionDark"><div class="Text">
            <p><span class="TableStyle">Feedback Model:</span> <span id="FE" class="TableStyle">checking ...</span></p>
        </div></div>
        <div class="Text">
            <p><span class="TableStyle">Job-type Model:</span> <span id="JO" class="TableStyle">checking ...</span></p>
        </div>
        <div class="HighlightedSectionDark"><div class="Text">
            <p><span class="TableStyle">KNN Module:</span> <span id="KNN" class="TableStyle">checking ...</span></p>
        </div></div>
        <div class="Text">
            <p><span class="TableStyle">Data Base:</span> <span id="DB" class="TableStyle">checking ...</span></p>
        </div>
    </div>

</body>
</html>
