<!DOCTYPE html>
<html lang="en">

<head>
    <title>gemjob</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height,width=device-width,user-scalable=no">

    <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="Header">
        <div class="AppTitle">
            <a href="/">gemjob</a>
        </div>
        <div class="HeaderRight">
            <a href="/logout">Log Out</a>
            <img src="{{ profile_pic }}" alt="" border="0" align="">
        </div>
    </div>

    <div class="Section HighlightedSection TableSection">
        <div class="Text">
            <h1>Welcome {{ first_name }} {{ last_name }}</h1>
        </div>
{#        <div class="HighlightedSectionDark"><div class="Text">#}
{#            <p><span class="TableStyle">Predicted client rating:</span> <span class="TableStyle">4.8</span></p>#}
{#        </div></div>#}
    </div>

    <div class="Section">
        <div class="Text">
            <a href="/job" class="Button ButtonFull" style="margin-top: 15px; margin-bottom: -20px;">Create Job</a>
        </div>
    </div>

    <div class="Section">
        <div class="Text">
            <h1>Job Postings</h1>

        {% if jobs_list|count < 1 %}
            <h2 class="Job">no jobs available</h2>
        {% else %}
            {% for job in jobs_list %}
                <a class="Job" href="job/id={{ job['reference'] }}">
                    <h2 class="Job">{{ job['title'] }}</h2>
                    <p>Status: {{ job['status'] }}</p>
                </a>
            {% endfor %}
        {% endif %}
{#            <h1>Drafts</h1>#}
{#            <p>...</p>#}
        </div>
    </div>

</body>
</html>