<!DOCTYPE html>
<html lang="en">

<head>
    <title>gemjob</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height,width=device-width,user-scalable=no">

    <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='awesomplete/awesomplete.css') }}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='awesomplete/awesomplete.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='highcharts-5.0.12/highcharts.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='highcharts-5.0.12/highcharts-more.js') }}"></script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        {% autoescape false %}
        var skills_list = {{ skills_list }};
        var form_values = {};
        form_values["client_country"] = "{{ client_info["client_country"] }}";
        form_values["client_feedback"] = {{ client_info["client_feedback"] }};
        form_values["client_reviews_count"] = {{ client_info["client_reviews_count"] }};
        form_values["client_jobs_posted"] = {{ client_info["client_jobs_posted"] }};
        form_values["client_past_hires"] = {{ client_info["client_past_hires"] }};
        job_id = "{{ update_job_info["job_id"] }}";
        {% if is_client %}
            var is_client = true;
        {% else %}
            var is_client = false;
        {% endif %}

        var skills_preselected = [{% if update_job_info["skills"] %}{% set list_of_skills = update_job_info["skills"].split(',') %}{% for skill in list_of_skills %}"{{ skill }}",{% endfor %}{% endif %}];

        {% endautoescape %}
    </script>
    <script type=text/javascript src="{{ url_for('static', filename='dictionary.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='job_script.js') }}"></script>
</head>

<body>
    <div class="Header">
        <div class="AppTitle">
            <a href="/"><img src="{{ url_for('static', filename='gemjob_logo_web.jpg') }}" /></a>
        </div>
        <div class="HeaderRight">
            <a href="/logout">Log Out</a>
            <img src="{{ profile_pic }}" alt="" border="0" align="">
        </div>
    </div>

    <div class="Section HighlightedSection TableSection">
        <div class="Text">
            <h1>Job Form</h1>
        </div>
        <div class="HighlightedSectionDark"><div class="Text">
            <h2>Recommendations:    <div class="Icon" onclick="showPopUp('About Recommendations:', '<p>Real-time recommendations are based on clusters of similar jobs. Whenever you change a value in the form, our application tries to find the most similar cluster to your job and displays typical values chosen by other Upwork clients.</p>' +
             '<p>After filling the form completely, you may review the form using the corresponding button to get more accurate and more detailed recommendations.</p>')">i</div> </h2>
        </div></div>
        <div class="Text">
            <p><span class="TableStyle">Status:</span> <span id="Status" class="TableStyle">No recommendations yet</span></p>
        </div>
        <div class="HighlightedSectionDark"><div class="Text">
            <p><span class="TableStyle">Similar jobs found:</span> <span id="cluster_size" class="TableStyle">None</span></p>
        </div></div>
        <div class="Text">
            <p><span class="TableStyle">Predicted job rating:</span> <span id="feedback_for_client" name="Predicted job rating for client" class="TableStyle">None</span></p>
        </div>
    </div>

    <div class="Section">
        <div id="FormSectionText" class="Text">
            <form action="." method="POST">

                {% if warning %}
                    <p class="Warning"> {{ warning }} </p><br>
                {% endif %}

                {% if not is_client %}
                    <p class="Hint">You are logged in as a freelancer, the jobs created cannot be published.</p>
                    <br><br>
                {% endif %}

                <div class="Label">Category</div><div class="LabeledElement">
                <select name="category2">
                    <option value="Data Science & Analytics">Data Science & Analytics</option>
                </select>
                </div>

                <div class="Label">Subcategory</div><div class="LabeledElement">
                <select class="ReadInput" name="subcategory2" onblur="onValueInput(name, value)">
                    <option value="A/B Testing" {% if update_job_info["subcategory2"] == "A/B Testing" %} selected="selected" {% endif %}>A/B Testing</option>
                    <option value="Data Visualization" {% if update_job_info["subcategory2"] == "Data Visualization" %} selected="selected" {% endif %}>Data Visualization</option>
                    <option value="Data Extraction / ETL" {% if update_job_info["subcategory2"] == "Data Extraction / ETL" %} selected="selected" {% endif %}>Data Extraction / ETL</option>
                    <option value="Data Mining & Management" {% if update_job_info["subcategory2"] == "Data Mining & Management" %} selected="selected" {% endif %}>Data Mining & Management</option>
                    <option value="Machine Learning" {% if update_job_info["subcategory2"] == "Machine Learning" %} selected="selected" {% endif %}>Machine Learning</option>
                    <option value="Quantitative Analysis" {% if update_job_info["subcategory2"] == "Quantitative Analysis" %} selected="selected" {% endif %}>Quantitative Analysis</option>
                    <option value="Other - Data Science & Analytics" {% if update_job_info["subcategory2"] == "Other - Data Science & Analytics" %} selected="selected" {% endif %}>Other - Data Science & Analytics</option>

                </select>
                <div id="subcategory2" name="Subcategory" class="LiveRecommendation"></div></div>

                <div class="Label">Title</div><div class="LabeledElement">
                <input id="TitleInput" class="ReadInput" type="text" name="title" placeholder="Title" size=50 value="{{ update_job_info["title"] }}" onblur="onValueInput(name, value)">
                <div id="TitleWordCount" class="WordCount"></div>
                <div class="RecommendationLabel">Number of words:</div> <div id="title_length"  name="Number of words" class="LiveRecommendation"></div></div>

                <div class="Label">Description</div><div class="LabeledElement">
                <textarea id="SnippetTextArea" class="ReadInput" name="snippet" placeholder="Description" rows="10" cols="30" value="" onblur="onValueInput(name, value)">{{ update_job_info["description"] }}</textarea>
                <div id="SnippetWordCount" class="WordCount"></div>
                <div class="RecommendationLabel">Number of words:</div> <div id="snippet_length"  name="Number of words" class="LiveRecommendation"></div></div>

                <div style="margin-top: 15px; float: right; width: 100%;">
                    <div style="display: inline-block; width: 25%; min-width: 170px;"><input type="submit" value="Example Text" name="ExampleTextButton" class="Button ButtonFull" id="ExampleTextButton"></div>
                </div>

                <div class="Label">Number of Freelancers (will not be sent)</div><div class="LabeledElement">
                <input class="ReadInput" type="number" min="1" step="1" name="freelancer_count" size=50 maxlength=120 value=1  onblur="onValueInput(name, value)">
                <div id="freelancer_count" name="Number of Freelancers" class="LiveRecommendation"></div></div>

                <div class="Label">Skills</div><div class="LabeledElement">
                <input id="SkillSearch" type="text" name="skills" placeholder="Add skills" size=50>
                <h2 id="NoSkills" class="Job">no skills needed</h2>
                <p id="SkillsList" style="margin-top:-3px;margin-bottom: 5px;"></p>
                <div class="RecommendationLabel">Number of skills:</div> <div id="skills_number"  name="Number of skills" class="LiveRecommendation"></div></div>

                {% if update_job_info %}
                    <p class="Hint">Hint: Upwork does not allow you to update the skills! They will remain unchanged in the updated job.</p>
                    <br><br>
                {% endif %}

                <div class="Label">Start Date</div><div class="LabeledElement">
                <input class="ReadInput" id="Datepicker" type="text" name="start_date" size=50 value="{{ current_date }}"  onblur="onValueInput(name, value)">
                </div>

                <div class="Label">Payment Type</div><div class="LabeledElement">
                <select class="ReadInput" id="JobType" name="job_type" onchange="jobTypeSwitch()"  onblur="onValueInput(name, value)">
                    <option value="hourly" {% if update_job_info["job_type"] == "hourly" %} selected="selected" {% endif %}>Pay by the hour</option>
                    <option value="fixed-price" {% if update_job_info["job_type"] == "fixed-price" %} selected="selected" {% endif %}>Fixed price</option>
                </select>
                <div id="job_type" name="Payment Type" class="LiveRecommendation"></div></div>

                {% if update_job_info %}
                    <p class="Hint">Hint: Upwork does not allow you to update the payment type! It will remain unchanged in the updated job.</p>
                    <br><br>
                {% endif %}

                <span class="IfFixed"><div class="Label">Budget in $</div><div class="LabeledElement">
                <input id="BudgetInput" class="ReadInput" type="number" min="0" step="1" name="budget" size=50 maxlength=120  onblur="onValueInput(name, value)" value={{ update_job_info["budget"] }}>
                <div id="budget" name="Budget" class="LiveRecommendation"></div></div></span>

                 <div class="Label">Duration in hours <span class="IfFixed" style="display: none">(will not be sent)</span> </div><div class="LabeledElement">
                     <input class="ReadInput" type="number" min="0" step="1" name="duration" size=50 maxlength=120  onblur="onValueInput(name, value)" value={{ update_job_info["duration"] }}>
                <div id="total_hours" name="Duration in hours" class="LiveRecommendation"></div></div>

                <div class="Label">Duration in weeks (will not be sent)</div><div class="LabeledElement">
                     <input class="ReadInput" type="number" min="0" step="1" name="duration_weeks_median" size=50 maxlength=120 onblur="onValueInput(name, value)">
                <div id="duration_weeks_median"  name="Duration in weeks" class="LiveRecommendation"></div></div>

                <span class="IfHourly"><div class="Label">Workload (will not be sent)</div><div class="LabeledElement">
                <select id="WorkloadSelect" class="ReadInput" name="workload"  onblur="onValueInput(name, value)">
                    <option value="Less than 10 hrs/week">Less than 10 hrs/week</option>
                    <option value="10-30 hrs/week">10-30 hrs/week</option>
                    <option value="30+ hrs/week">30+ hrs/week</option>
                </select>
                <div id="workload" name="Workload" class="LiveRecommendation"></div></div>
                </span>

                <div class="Label">Desired Experience Level (will not be sent)</div><div class="LabeledElement">
                <select class="ReadInput" name="experience_level"  onblur="onValueInput(name, value)">
                    <option value="1">Entry Level</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Expert</option>
                </select>
                <div id="experience_level" name="Experience Level" class="LiveRecommendation"></div></div>

                <div class="Label">Visibility</div><div class="LabeledElement">
                <select class="ReadInput" name="visibility"  onblur="onValueInput(name, value)">
                    <option value="public" {% if update_job_info["visibility"] == "public" %} selected="selected" {% endif %}>Public</option>
                    <option value="private" {% if update_job_info["visibility"] == "private" %} selected="selected" {% endif %}>Private</option>
                    <option value="invite-only" {% if update_job_info["visibility"] == "invite-only" %} selected="selected" {% endif %}>Invite only</option>
                </select>
                </div>

                <div style="margin-top: 15px; float: right; width: 50%; min-width: 250px;">
                    <div style="display: inline-block; width: 47%; min-width: 170px;"><input type="submit" value="Model Predictions" name="submit" class="Button ButtonFull" id="ModelButton"></div>
                {% if update_job_info %}
                    <div style="display: inline-block; width: 47%; margin-left:3%; min-width: 170px;"><input type="submit" value="Update Job" name="submit" class="Button ButtonFull" id="UpdateButton"></div>
                {% else %}
                    <div style="display: inline-block; width: 47%; margin-left:3%; min-width: 170px;"><input type="submit" value="Submit Job" name="submit" class="Button ButtonFull" id="SubmitButton"></div>
                {% endif %}
                </div>
            </form>
        </div>
    </div>


<div id="PopUpBackground"> </div>
<div id="PopUp">
	<div id="PopUpHeader"><h2>
        <span id="PopUpTitle"></span>
        <div id="PopUpCloseButton" onclick="hidePopUp()">x</div>
    </h2></div>
	<div id="PopUpContent" class="Text"> Hello world! I like cats </div>
</div>



</body>
</html>
