<!DOCTYPE html>
<html lang="en">

<head>
    <title>gemjob</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height,width=device-width,user-scalable=no">

    <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="Header">
        <div class="AppTitle">
            <a href="/">gemjob</a>
        </div>
        <div class="HeaderRight">

        </div>
    </div>

    <div class="Section HighlightedSection">
        <div class="Text">
            <h1>Welcome to gemjob</h1>
            <p>Simply log in with your Upwork Account and improve your job listings based on data science and black magic.</p>
        </div>
    </div>
    <div class="Section">
        <div class="Form">
            <a href="/login" class="Button ButtonFull">Log In</a>
        </div>
    </div>

</body>
</html>