version: '2'
services:
  webserver_module:
    container_name: webserver_module

  data_module:
    container_name: data_module

  cluster_module:
    container_name: cluster_module

  budget_module:
    container_name: budget_module

  feedback_module:
    container_name: feedback_module

  jobtype_module:
    container_name: jobtype_module

  database_module:
    image: rethinkdb:2.3.5
    container_name: database_module
